/* stylelint-disable max-line-length */
@font-face {
  font-family: roboto-condensed;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/roboto-condensed-bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/roboto-bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/roboto-medium.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'CircularXX Book';
	src: url('../fonts/circularxx-book.eot');
	src: local('CircularXX Book'), local('CircularXX-Book'),
		url('') format('embedded-opentype'),
		url('../fonts/circularxx-book.woff2') format('woff2'),
		url('../fonts/circularxx-book.woff') format('woff'),
		url('../fonts/circularxx-book.ttf') format('truetype'),
		url('') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'CircularXX';
	src: url('../fonts/circularxx-regular.eot');
	src: local('CircularXX'), local('CircularXX-Regular'),
		url('') format('embedded-opentype'),
		url('../fonts/circularxx-regular.woff2') format('woff2'),
		url('../fonts/circularxx-regular.woff') format('woff'),
		url('../fonts/circularxx-regular.ttf') format('truetype'),
		url('') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'CircularXX';
	src: url('../fonts/circularxx-medium.eot');
	src: local('CircularXX Medium'), local('CircularXX-Medium'),
		url('') format('embedded-opentype'),
		url('../fonts/circularxx-medium.woff2') format('woff2'),
		url('../fonts/circularxx-medium.woff') format('woff'),
		url('../fonts/circularxx-medium.ttf') format('truetype'),
		url('') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'CircularXX';
	src: url('../fonts/circularxx-bold.eot');
	src: local('CircularXX Bold'), local('CircularXX-Bold'),
		url('') format('embedded-opentype'),
		url('../fonts/circularxx-bold.woff2') format('woff2'),
		url('../fonts/circularxx-bold.woff') format('woff'),
		url('../fonts/circularxx-bold.ttf') format('truetype'),
		url('') format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Sugo Pro Display';
	src: url('../fonts/sugoprodisplay-bold.eot');
	src: local('Sugo Pro Display Bold'), local('SugoProDisplay-Bold'),
		url('') format('embedded-opentype'),
		url('../fonts/sugoprodisplay-bold.woff2') format('woff2'),
		url('../fonts/sugoprodisplay-bold.woff') format('woff'),
		url('../fonts/sugoprodisplay-bold.ttf') format('truetype'),
		url('') format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Sugo Pro Display';
	src: url('../fonts/sugoprodisplay-bolditalic.eot');
	src: local('Sugo Pro Display Bold Italic'), local('SugoProDisplay-BoldItalic'),
		url('') format('embedded-opentype'),
		url('../fonts/sugoprodisplay-bolditalic.woff2') format('woff2'),
		url('../fonts/sugoprodisplay-bolditalic.woff') format('woff'),
		url('../fonts/sugoprodisplay-bolditalic.ttf') format('truetype'),
		url('') format('svg');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Sugo Pro Display';
	src: url('../fonts/sugoprodisplay-regular.eot');
	src: local('Sugo Pro Display Regular'), local('SugoProDisplay-Regular'),
		url('') format('embedded-opentype'),
		url('../fonts/sugoprodisplay-regular.woff2') format('woff2'),
		url('../fonts/sugoprodisplay-regular.woff') format('woff'),
		url('../fonts/sugoprodisplay-regular.ttf') format('truetype'),
		url('') format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Sugo Pro Display';
	src: url('../fonts/sugoprodisplay-italic.eot');
	src: local('Sugo Pro Display Italic'), local('SugoProDisplay-Italic'),
		url('') format('embedded-opentype'),
		url('../fonts/sugoprodisplay-italic.woff2') format('woff2'),
		url('../fonts/sugoprodisplay-italic.woff') format('woff'),
		url('../fonts/sugoprodisplay-italic.ttf') format('truetype'),
		url('') format('svg');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Sugo Pro Display';
	src: url('../fonts/sugoprodisplay-light.eot');
	src: local('Sugo Pro Display Light'), local('SugoProDisplay-Light'),
		url('') format('embedded-opentype'),
		url('../fonts/sugoprodisplay-light.woff2') format('woff2'),
		url('../fonts/sugoprodisplay-light.woff') format('woff'),
		url('../fonts/sugoprodisplay-light.ttf') format('truetype'),
		url('') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Sugo Pro Display';
	src: url('../fonts/sugoprodisplay-lightitalic.eot');
	src: local('Sugo Pro Display Light Italic'), local('SugoProDisplay-LightItalic'),
		url('') format('embedded-opentype'),
		url('../fonts/sugoprodisplay-lightitalic.woff2') format('woff2'),
		url('../fonts/sugoprodisplay-lightitalic.woff') format('woff'),
		url('../fonts/sugoprodisplay-lightitalic.ttf') format('truetype'),
		url('') format('svg');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Sugo Pro Display';
	src: url('../fonts/sugoprodisplay-extralight.eot');
	src: local('Sugo Pro Display Extra Light'), local('SugoProDisplay-ExtraLight'),
		url('') format('embedded-opentype'),
		url('../fonts/sugoprodisplay-extralight.woff2') format('woff2'),
		url('../fonts/sugoprodisplay-extralight.woff') format('woff'),
		url('../fonts/sugoprodisplay-extralight.ttf') format('truetype'),
		url('') format('svg');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Sugo Pro Display';
	src: url('../fonts/sugoprodisplay-extltita.eot');
	src: local('Sugo Pro Display ExtLt Ita'), local('SugoProDisplay-ExtLtIta'),
		url('') format('embedded-opentype'),
		url('../fonts/sugoprodisplay-extltita.woff2') format('woff2'),
		url('../fonts/sugoprodisplay-extltita.woff') format('woff'),
		url('../fonts/sugoprodisplay-extltita.ttf') format('truetype'),
		url('') format('svg');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Sugo Pro Display';
	src: url('../fonts/sugoprodisplay-thin.eot');
	src: local('Sugo Pro Display Thin'), local('SugoProDisplay-Thin'),
		url('') format('embedded-opentype'),
		url('../fonts/sugoprodisplay-thin.woff2') format('woff2'),
		url('../fonts/sugoprodisplay-thin.woff') format('woff'),
		url('../fonts/sugoprodisplay-thin.ttf') format('truetype'),
		url('') format('svg');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Sugo Pro Display';
	src: url('../fonts/sugoprodisplay-thinitalic.eot');
	src: local('Sugo Pro Display Thin Italic'), local('SugoProDisplay-ThinItalic'),
		url('') format('embedded-opentype'),
		url('../fonts/sugoprodisplay-thinitalic.woff2') format('woff2'),
		url('../fonts/sugoprodisplay-thinitalic.woff') format('woff'),
		url('../fonts/sugoprodisplay-thinitalic.ttf') format('truetype'),
		url('') format('svg');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}
@font-face {
  font-family: "aristocrat";
		 format('embedded-opentype'),
  
  src:url('../fonts/aristocrat.eot');
  src:url('') format("embedded-opentype"),
    url('../fonts/aristocrat.woff') format("woff"),
    url('../fonts/aristocrat.ttf') format("truetype"),
	url('') format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "aristocrat" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "aristocrat" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-customersuccess:before {
  content: "\62";
}
.icon-coreexperience:before {
  content: "\63";
}
.icon-connectedexperience:before {
  content: "\64";
}
.icon-employeeexperience:before {
  content: "\61";
}
.icon-patronexperience:before {
  content: "\65";
}
.icon-locationicon:before {
  content: "\66";
}
.icon-certifications:before {
  content: "\67";
}
.icon-trainingclasses:before {
  content: "\68";
}
@font-face {
    font-family: 'OTSono-Extrabold';
    src: url('../fonts/otsono/OTSono-Extrabold.woff2') format('woff2'),
         url('../fonts/otsono/OTSono-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'OTSono-ExtraboldItalic';
    src: url('../fonts/otsono/OTSono-ExtraboldItalic.woff2') format('woff2'),
         url('../fonts/otsono/OTSono-ExtraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'OTSono-Italic';
    src: url('../fonts/otsono/OTSono-Italic.woff2') format('woff2'),
         url('../fonts/otsono/OTSono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'OTSono-Medium';
    src: url('../fonts/otsono/OTSono-Medium.woff2') format('woff2'),
         url('../fonts/otsono/OTSono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'OTSono-MediumItalic';
    src: url('../fonts/otsono/OTSono-MediumItalic.woff2') format('woff2'),
         url('../fonts/otsono/OTSono-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'OTSono-Regular';
    src: url('../fonts/otsono/OTSono-Regular.woff2') format('woff2'),
         url('../fonts/otsono/OTSono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OTSono-Semibold';
    src: url('../fonts/otsono/OTSono-Semibold.woff2') format('woff2'),
         url('../fonts/otsono/OTSono-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OTSono-SemiboldItalic';
    src: url('../fonts/otsono/OTSono-SemiboldItalic.woff2') format('woff2'),
         url('../fonts/otsono/OTSono-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}